<html>
    <head></head>
    <body>
        <h1>Movies</h1>

        <a href='/movies/add-movie' alt='Add movie'>Add Movies</a>

        <ul>
        {{#movieId}}
            <li>
                   {{title}}
                   {{description}} 
                   {{genre}}
                   <img src={{posterURL}} alt={{title}} width='200px' /> 
              
                <form method="POST" action="/movies/delete">
                    <input type="hidden" value={{movieId}} name="movieId" />
                    <button>Delete</button>
                </form>
            </li>
        {{/movieId}}
        </ul>
    </body>
</html>